.contentContainer::-webkit-scrollbar {
    display: none;
}

.mainContainer{
    scrollbar-width: none;
    display: flex;
    min-height: 100vh;
    width: 100%;
    scrollbar-width: none;
    overflow-y: auto;
    position: relative;
    flex-direction: column;
    inset: 0;
    box-sizing: border-box;
    padding: 0;
}

.contentContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    inset: 0;
    min-height: 100vh;
    width: 100%;
    justify-content: center;
    overflow-x: hidden;
}

.memberCard{
    background: var(--color-bg-secondary);
    max-width: 50vw;
    width: 30vw;
    min-width: 200px;
    min-height: 25vh;
    height: 50vw;
    max-height: 40vh;
    position: relative;
    border-radius: 12.5px;
    box-shadow: 0 8px 24px var(--black-10);
}

.memberCard:hover {
  box-shadow:
    0 0 0 1px var(--color-accent-30),
    0 12px 32px var(--black-20);
}

.memberAboutContainer{
    background: linear-gradient(
    to top,
    var(--color-accent-90),
    var(--color-accent-50),
    transparent
  );
    bottom: 0;
    position: absolute;
    width: 100%;
    border-radius: 12.5px;
    padding: 5px;
    max-height: 100%;
    box-sizing: border-box;
    text-align: center;
    color: var(--white);
}

.memberAboutContainer h5{
    color: var(--white-70);
}

.memberPhotoContainer{
    inset: 0;
    position: absolute;
    width: 100%;
    border-radius: 12.5px;
    box-sizing: border-box;
    min-height: 80%;
}

.contentContainer img{
    width: 100%;
    height: 100%;
    inset: 0;
    border-radius: 12.5px;
    object-fit: cover;
}

.pageDesc{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: clamp(20px, 4vw, 50px);
    padding: 2rem;
}

.pageDesc h1{
    text-wrap: wrap;
}

@media(max-height: 450px){
    .memberCard{
        min-height: 200px;
        width: 150px;
        min-width: 140px;
    }
}

@media(max-width: 500px){
    .pageDesc{
        padding: 2rem 0 1rem 0;
    }
}

@media(max-width: 260px){
    .memberCard{
        min-height: 100px;
        height: 120px;
        width: 100px;
        min-width: 75px;
    }
}

@media(max-width: 100px){
    .memberCard{
        min-height: 70px;
        height: auto;
        width: auto;
        min-width: 60px;
    }
    .pageDesc h1{
        font-size: clamp(9px, 10vw, 12px);
        padding: 0 5px;
        text-align: center;
    }
    .contentContainer{
        gap: 10px;
    }
}